*{margin:0; padding:0;box-sizing: border-box;}

body{
  font-family: 'Roboto', sans-serif;
}
.container{
  padding: 20px 42px 0px 42px;
}
.container header{
  overflow: hidden;
}

.container header h1{
  color: #D42026;
  font-size: 27px;
  font-weight:900;
  text-transform: uppercase;
  line-height: 32px;
  float: left;
}

.container header h1 span{
  font-weight:300;
}

.container header h3{
  float: right;
  color: #D42026;
  font-size: 27px;
  font-weight:300;
  text-transform: uppercase;
  line-height: 32px;
}

.busca-personagem {
  margin-top: 34px;
  margin-bottom: 34px;
  position: relative;
}

.busca-personagem p{
  color: #D42026;
  font-size: 16px;
  font-weight:400;
  line-height: 19px;
}

.busca-personagem input {
  border: 1px solid #A5A5A5;
  border-radius: 3px;
  padding: 0 10px;
  min-width: 400px;
  height: 31px;
  margin-top: 5px;
}

#result-personagem {
  list-style: none;
  width: 500px;
  border: 1px solid #ddd;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 54px;
  left: 0;
  background: #fff;
  display: none;
}

#result-personagem li{
padding: 5px 0;
}

.table-resultado table{
  width: 100%;
}

.table-resultado tr th{
  background: #D42026;
  line-height: 37px;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

.table-resultado table tbody tr:hover{
  background: rgba(212, 32, 38, 0.1);
}

.table-resultado table tbody tr td{
  padding: 20px 10px;
  border-bottom: 2px solid rgba(212, 32, 38, 0.1);
  color: #4E4E4E;
  font-size: 21px;
}

.table-resultado tr .personagem-content *{
  display: inline-block;
  vertical-align: middle;
}

.table-resultado tr .personagem-content h3{
  font-size: 21px;
  font-weight: 400;
}

.table-resultado tr .personagem-content img{
  border-radius: 100%;
  width: 58px;
  height: 58px;
  margin-right: 25px;
}

.table-resultado .pagination {
  text-align: center;
  margin: 32px 0;
}

.table-resultado .pagination li{
  display: inline-block;
  vertical-align: middle;
  color:#D42026;
  width: 32px;
  font-size: 21px;
  border: 1px solid #D42026;
  height: 32px;
  line-height: 32px;
  border-radius: 100%;
  margin: 0 10px;
  cursor: pointer;
}

.table-resultado .pagination li.right, .table-resultado .pagination li.left{
  border: 0;
}

.table-resultado .pagination li.right span{
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;

  border-left: 12px solid #D20A0A;
  display: inline-block;
}
.table-resultado .pagination li.left span{
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;

  border-right:12px solid #D20A0A;
  display: inline-block;
  opacity: 0.35;
}
.table-resultado .pagination li:hover{
  background:#D42026;
  color: #fff;
}

.loading {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
}

.loading.loadingActive{
    height: 100%;
}

.loading i.spinner {
    -webkit-animation: circle-spinner 800ms infinite linear;
    -moz-animation: circle-spinner 800ms infinite linear;
    animation: circle-spinner 800ms infinite linear;
    border: 2px solid #333;
    border-right-color: transparent;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow: hidden;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

@-webkit-keyframes circle-spinner {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes circle-spinner {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg)
    }
}

@keyframes circle-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media (max-width: 768px){
  .container header{
    padding: 20px 42px 0px 42px;
  }
  .busca-personagem{padding: 0 42px 0px 42px;}
  .container header h1{
    font-size: 16px;
    float: none;
  }
  .container header h3, .series-tit, .eventos-tit, .series-content, .events-content{
    display: none;
  }
  .busca-personagem input{min-width: 100%;}
  .container{
    padding: 0;
  }


}
